#text-area{
    height: 75px;
}
#text-area1{
    height: 40px;
}
#valor-referencial{
    width: 40px;
}
.mat-header-cell,
    .mat-sort-header {
      background-color: #ED2A32;
      color: white !important;
    }

#title{
    background-color: #ED2A32;
    color:white;
    text-align: center;
    font-size:x-large;
}
#subtitle
{
    background-color:gray;
    color: white;
    font-size: large;
}
#header
{
    background-color:rgb(248, 246, 246);
    color: rgb(5, 5, 5);
    font-size: medium;
    text-decoration: underline;
}
.mat-form-field {
    margin-top: 16px;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
.h-table{
    min-height: 240px!important;
    height: auto!important;
}
